<launch>
  <!-- Parameters must be set before using this file -->
  <!-- See velodyne/launch/default_velodyne_params.launch -->

  <node name="velodyne_nodelet_manager" type="nodelet" pkg="nodelet" args="manager"/>

  <!-- Velodyne driver (raw packets to ROS) -->
  <node name="velodyne_driver_nodelet_loader" type="nodelet" pkg="nodelet" args="load velodyne/VelodyneDriverNodelet     velodyne_nodelet_manager"/>

  <!-- Velodyne projector (raw packets to XYZ data) -->
  <node name="velodyne_projector_nodelet_loader" type="nodelet" pkg="nodelet" args="load velodyne/VelodyneProjectorNodelet     velodyne_nodelet_manager"/>
</launch>
